<body>
<div class="con">
  <div class="login-box">
    <div class="lb-header">
      <a routerLink="../login" class="active" id="login-box-link">Login</a>
      <a href="#" id="signup-box-link">Sign Up</a>
    </div>
    <form class="email-signup">
      <div class="u-form-group">
        <input type="text" placeholder="User Name"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Password"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Confirm Password"/>
      </div>
      <div class="u-form-group">
        <button>Sign Up</button>
      </div>
    </form>
  </div>
</div>
<script src="../../assets/js/login.js"></script>
</body>

