<body>
<div class="con">
  <br>
  <div class="ui cards">
    <div class="card" id="cust_Card">
      <div class="content">
        <div class="header">Customers</div>
        <div class="description">
          100+
        </div>
      </div>
      <div class="ui bottom attached button">
        <i class="add icon"></i>
        Add Customer
      </div>
    </div>
    <div class="card" id="item_Card">
      <div class="content ">
        <div class="header">Items</div>
        <div class="description">
          100+
        </div>
      </div>
      <div class="ui bottom attached button">
        <i class="add icon"></i>
        Add Item
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="ui four cards">
    <a class="red card" id="cust-card-1">
      <div class="image">
        <img src="../../assets/img/rtc-rte-1.gif">
      </div>
    </a>
    <a class="red card" id="item-card-2">
      <div class="image">
        <img src="../../assets/img/download%20(1).png">
      </div>
    </a>
    <a class="red card" id="order-card-2">
      <div class="image">
        <img src="../../assets/img/Payment_card_credit_pay_cash.png">
      </div>
    </a>

  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="ui inverted segment" id="readme">
    <p>I'm here to tell you something, and you will probably read me first.</p>
  </div>
  <br>
  <br>
  <br>
  <div class="ui items">
    <div class="item">
      <a class="ui tiny image">
        <img src="../../assets/img/User_100px.png">
      </a>
      <div class="content">
        <a class="header">Nethadun Wijesinghe</a>
        <div class="description">
          <p>Biztracker Infinity is a powerful Microsoft SQL based Point of Sale Software scalable from one terminal
            <br>in one store to thousands of terminals in multiple stores across the world. The secret to Biztracker
            <br> Infinity success is a blend... <a>Read more</a>
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <a class="ui tiny image">
        <img src="../assets/img/User_100px.png">
      </a>
      <div class="content">
        <a class="header">Kalana Sasanka</a>
        <div class="description">
          <p>ShopKeep is an iPad-based POS for retail businesses, restaurants, bars, franchises and quick-serve businesses.
            <br> The multi-feature solution offers tools to manage registrations, booking, marketing, inventory, staff, and
            <br> payments. The... <a>Read more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <a class="ui tiny image">
        <img src="../assets/img/User_100px.png">
      </a>
      <div class="content">
        <a class="header">Nadun Ravishan</a>
        <div class="description">
          <p>NetSuite for Retail is a cloud-based multi-channel retail management solution for retailers that combines
            <br> e-commerce, POS, and order management functionalities. The software provides a unified retail system
            <br> with back office management... <a> Read more</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="ui four statistics" style="width: 80%">
    <div class="statistic">
      <div class="value">
        220
      </div>
      <div class="label">
        Items
      </div>
    </div>
    <div class="statistic">
      <div class="text value">
        Three<br>
        Thousand
      </div>
      <div class="label">
        Customers
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="plane icon"></i> 5
      </div>
      <div class="label">
        Flights
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <img src="../assets/img/Team_48px.png" class="ui circular inline image">
        42
      </div>
      <div class="label">
        Team Members
      </div>
    </div>
  </div>
  <br>
  <br>
  <h3 style="color: white;background-color: #2e3032;font-style: oblique;width: 80%">Developed by No One(PVT)Limited</h3>
  <br>
  <br>
</div>
</body>

